<main class="app-main">
  <section class="main-content">
    <div class="obra">
      <h1 class="titulo">Percy Jackson</h1>
      <p class="descripcion">El libro de Percy Jackson es una obra de ficción escrita por Rick Riordan.</p>
      <img class="imagen" src="" alt="">
    </div>
    <div class="obra">
      <h1 class="titulo">Percy Jackson</h1>
      <p class="descripcion">El libro de Percy Jackson es una obra de ficción escrita por Rick Riordan.</p>
      <img class="imagen" src="" alt="">
    </div>
    <div class="obra">
      <h1 class="titulo">Percy Jackson</h1>
      <p class="descripcion">El libro de Percy Jackson es una obra de ficción escrita por Rick Riordan.</p>
      <img class="imagen" src="" alt="">
    </div>
  </section>
</main>
